.Top {
    line-height: 20px;
    letter-spacing: 1px;
    background: @header-color0;
    color: @page-color;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 0 20px;

    &_S {
    }

    &_M {
@media only screen and (max-width: @tablet-screen) {
    display: none;
}
    }

    &_W {
@media only screen and (max-width: @pc-screen) {
        display: none;
}
    }
}

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @header-color1;
    width: 100%;
    position: relative;
    .box-shadow();

    &-LeftSide {
        display:flex;
        justify-content: flex-end;
        width: 100%;
@media only screen and (max-width: @header-collapse) {
        min-width: @header-row-height * 2 - 20px;
        width: @header-row-height * 2 - 20px;
}
    }

    &-RightSide {
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }

    &-Logo {
        max-width: @pc-screen / 2;
        min-width: @phone-screen / 2;
        width: 100%;
@media only screen and (max-width: @header-collapse) {
         min-width: @header-row-height * 2 - 32;
}
        a, a:visited {
            width: 100%;
            white-space: nowrap;
            color: @header-text-color;
            text-decoration: none;
        }
        &-Icon {
            font-size: @header-row-height - 6px;
            margin-left: 10px;
        }

        &-Text {
@media only screen and (max-width: @header-collapse) {
            display: none;
}
        }
        h1 {
            font-family: "Times New Roman";
            font-weight: normal;
            margin: 0;
        }
    }

    &-Row1 {
        height: @header-row-height;
    }

    &-Row2 {
        display:flex;
        justify-content:flex-start;
        flex-direction: row;
        height: @header-row-height;
        background: @header-color2;
    }
    &-RowContainer {
        display:flex;
        //justify-content: space-between;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        max-width: @pc-screen / 2;
        min-width: @phone-screen;
        width: 100%;
@media only screen and (max-width: @header-collapse) {
        min-width: @phone-screen / 6 * 5;
}
    }

    &-Currency {
        span {       
            display: flex;
            justify-content: center;
            align-items: center;
            height: @header-row-height - 3 * 2;
            width: @header-row-height - 3 * 2;
            margin: 3px;
            font-size: 16px;
            background: white;
            color: @header-color1;
            border-radius: 3px;
        }
        &:hover > .Header-CurrencyForm {
            display: flex;
        }
    }

    &-CurrencyForm {
        position: absolute;
        display: none;
        flex-direction: column;
        z-index: 2;
        top: 0;
        &:hover {
            display: flex;
        }
    }

    &-Profile {
        color: @page-color;
        margin: 0 5px;
    }

    &-Slash {
        order: 1;
        width: 0;
        height: 0;
        border-bottom: @header-row-height solid @header-color2; 
        border-left: @header-row-height solid @header-color1;
    }
    &-Search-Input {
        order: 3;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: none;
        border: none;
        font-weight: bold;
        color: @text-color;
        padding: 0 5px 0 10px;
    }

    &-Search-Button {
        order: 2;
        background: none;
        color: @menu-text-color;
        margin-right: 0px;
        &:hover {
            background: darken(@header-color2, @button-darken-value);
        }
        &:hover + .Header-Slash {
            border-bottom: @header-row-height solid darken(@header-color2, @button-darken-value);
        }

    }

    button {
        width:  @header-row-height;
        height: @header-row-height;
        padding: 0;
    }

    &-LoginForm {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        z-index: 3;
        top: 0;
        min-width: @phone-screen;
        max-width: @pc-screen / 2;
        width: 100%;
        box-sizing: border-box;
@media only screen and (max-width: @pc-screen) {
        right: 0;
}

        background: white;
        padding: 20px 45px 35px 45px;
        border: 1px solid @header-color1;
        border-radius: 0 0 5px 5px;
        .box-shadow();
        h2 {
            font-weight: bold;
            color: @header-color1;
        }
        input {
            width: 100%;
            padding: 10px 5px;
            margin-bottom: 25px;
        }
        button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
        }
        p {
            margin: 20px auto 0 auto;
            color: @menu-text-color;
            font-size: 12px;
        }
    }
    &-Login:hover + &-LoginForm,
    &-LoginForm:hover {
        display: flex;
    }

    &-Propositions {
        position: absolute;
        display: flex;
        z-index: 1;
        top: @header-row-height * 2;
        max-width: @pc-screen;
        min-width: @phone-screen;
        width: 100%;
        &-List {
            display: none;
            max-width: @pc-screen / 2;
            min-width: @phone-screen;
            width: 100%;
@media only screen and (max-width: @header-collapse) {
            min-width: @phone-screen / 6 * 5;
}
            background: white;
            border: 1px solid @header-color1;
            border-top: none;
            border-radius: 0 0 5px 5px;
            .box-shadow();
            a, a:visited {
                padding: 10px;
                margin: 0;
                text-align: left;
                text-decoration: none;
                line-height: 20px;
                border-top: 1px solid @page-color;
            }
            a:hover {
                background: @header-color1;
                color: white;
            }
        }
    }
}

