            <div class="Catalog">
                <h3 class="Home-Section">КАТАЛОГ РАДИОДЕТАЛЕЙ</h3>
                <ul>
<?php foreach ($v['catalog'] as $gid => $group) { ?>
                    <li>
<?php   if (isset($group['has'])) { ?>
                        <input type="checkbox"><i></i>
<?php   } ?>
                        <a href='<?= ROOT.'base/'.$group['path'] ?>'><?= $group['name'] ?></a>
<?php   if (isset($group['has'])) { ?>
                        <p>
<?php       foreach ($group['has'] as $sgid => $sg) { ?>
                            <a href='<?= ROOT.'base/'.$group['path'].'/'.$sg['path'] ?>'><?= $sg['name'] ?></a>
<?php       } ?>
                        </p>
<?php   } ?>
                    </li>
<?php } ?>
               </ul>
            </div>

