<?php if (!isset($v['news'])) return;
foreach($v['news'] as $key => $news) {
?>
            <div class="News">
                <div class="News-Caption">
                    <p class="News-Date"><?= $news['date'] ?></p>
<?php if ($news['link']) { ?>
                    <a href="<?= ROOT.'base/'.$news['link'] ?>" class="Button">Показать в каталоге</a>
<?php } if ($v['role'] >= ROLE_SELLER) { ?>
                    <a href="<?= ROOT.'admin/news/'.$news['id'].'/' ?>" class="Button Red Icon-Edit"></a>
<?php } ?>
                </div>
                <p class="News-Name"><?= $news['name'] ?></p>
                <div class="News-Img">
                    <img src="<?= ROOT.'img/news/'.$news['img'] ?>" alt="<?= $news['name'] ?>" title="<?= $news['name'] ?>">
				</div>
                <pre class="News-Text"><?= $news['info']; ?></pre>
            </div>
<?php } ?>
