    <div class="ShowCase">
        <div class="Page Slider">
            <ul class="Slider-Film">
<?php foreach($v['showcase'] as $place => $item) {
    $price = (float) ($v['role'] == ROLE_VIP || $v['role'] == ROLE_ADMIN) ? 
             $item['wprice'] : $item['rprice'];
    $price = number_format($price * $v['exch'], 2, ',', ' ');
?>
                <li class="Product" onclick='window.location.href="<?=ROOT.'base/'.$item['id'] ?>"'>
                    <div class="Product-Image">
                        <img src="<?= ROOT.'i/'.$item['img'].'.jpg' ?>" alt="<?= $item['img'] ?>" title="<?= $item['type'] ?>">
                    </div>
                    <div class="Product-Type">
                        <a href="<?= ROOT.'base/'.$item['id'] ?>"><?= $item['type'] ?></a>
                    </div>
                    <span class="Product-Price"><?= $price.' '.$v['cy'] ?></span>
                </li>
<?php } ?>
           </ul>
        </div>
    </div>

