<?php
$errors = session_get('flash-errors');
$notes = session_get('flash-notes');
if (!$errors && !$notes) return; ?>
    <div class="Flash">
        <ul class="Page Page-Long">
<?php
if ($errors) {
    session_set('flash-errors', []);
    foreach ($errors as $msg) { ?>
            <li class="Flash-Error"><?= '<i class="Icon-Attention"></i> '.$msg ?></li>
<?php }
}
if ($notes) {
    session_set('flash-notes', []);
foreach ($notes as $msg) { ?>
            <li><?= '<i class="Icon-Info"></i> '.$msg ?></li>
<?php }
} ?>
        </ul>
    </div>
