<?php if ($v['role'] < ROLE_SELLER) { ?>
    <nav class="Top">
        <span class="Top_S">
           Интернет-магазин радиодеталей и электронных компонентов "Радиодетали"
        </span>
        <span class="Top_M">
            , г. Донецк
        </span>
        <span class="Top_W">
        </span>
    </nav>
<?php } ?>
    <div class="Header">
        <div class="Header-LeftSide">
            <div class="Header-Logo">
                <h1><a class="Header-Logo-Icon Icon-Logo" href="<?= ROOT ?>"><span class="Header-Logo-Text">РАДИОДЕТАЛИ</span></a></h1>
            </div>
        </div>
        <div class="Header-RightSide">
            <div class="Header-Row1">
                <div class="Header-RowContainer">
                    <div class="Header-Currency">
                        <span><?= $v['cy'] ?></span>
                        <form action="<?= ROOT.'cy' ?>" method="post" class="Header-CurrencyForm">
                            <span><?= $v['cy'] ?></span>
<?php if ($v['currency'] != 'RUB') { ?>
                            <button type="submit" name="cy" value="RUB"><?= $v['cy_symb']['RUB'] ?></button>
<?php }  if ($v['currency'] != 'USD') { ?>
                            <button type="submit" name="cy" value="USD"><?= $v['cy_symb']['USD'] ?></button>
<?php }  if ($v['currency'] != 'UAH') { ?>
                            <button type="submit" name="cy" value="UAH"><?= $v['cy_symb']['UAH'] ?></button>
<?php } ?>
                        </form>
                    </div>

<?php if ($v['role'] !== ROLE_NOBODY) { ?>
                    <span class="Header-Profile"><i class="Icon-User"></i><?= $v['profile']['login'] ?></span>
                    <form action="<?= ROOT.'logout' ?>" method="post">
                        <button type="submit" class="SquareButton Header-Login Icon-Logout"></button>
                    </form>
<?php } else { ?>
                    <button class="SquareButton Header-Login Icon-Login"></button>
                    <form name="LoginForm" action="<?= ROOT.'login' ?>" method="post" class="Header-LoginForm" autocomplete="off"
                          onsubmit="return validateLoginForm('<?= $v['token'] ?>');">
                        <h2>Авторизация</h2>
                        <input type="text" name="login" size="30" placeholder="Логин" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" required>
                        <input type="password" name="password" size="30" placeholder="Пароль" pattern="^[a-zA-Z0-9-_\.]{1,20}$" required>
                        <button type="submit">Войти</button>
                        <p class="message">Не зарегистрировались? <a href="<?= ROOT ?>profile">Создать аккаунт</a></p>
                        <input type="hidden" name="token" value="<?= $v['token'] ?>">
                    </form>
<?php } ?>
                </div>
            </div>
            <div class="Header-Row2">
                <form action="<?= ROOT.'base' ?>" method="get" class="Header-RowContainer" autocomplete="off">
                        <input type="text" name="s" class="Header-Search-Input"
                               id="s" placeholder="Поиск" value="<?= $v['search'] ?>" required>
                        <button type="submit" class="Header-Search-Button Icon-Search"></button>
                    <div class="Header-Slash"></div>
                </form>
            </div>
        </div>
        <div class="Header-Propositions">
            <div class="Header-LeftSide"></div>
            <div class="Header-RightSide Header-Propositions-List" id="Props">
            </div>
        </div>
    </div>
<?php
if ($v['role'] >= ROLE_SELLER) {
    require_once 'admin/menu.phtml';
}?>
