<?php require_once 'home/showcase.phtml'; ?>
    <div class="Page Page-Long Home">
        <div class="Home-LeftColumn">
<?php require_once 'home/catalog.phtml'; ?>
            <div class="Extra">
<!--
                <h3 class="Home-Section">Extra</h3>
                <p>[В]</p>
-->
            </div>
        </div>
        <div class="Home-RightColumn">
            <h3 class="Home-Section">В ПРОДАЖЕ</h3>
<?php require_once 'home/news.phtml';
      require_once 'pagination.phtml'; ?>
        </div>
    </div>
