<!DOCTYPE html>
<html lang="ru">
<head>
<?php
if ($v['role'] >= ROLE_SELLER || APP_ENV == 'DEV')
    require_once 'no_cache.phtml';
if ($v['role'] < ROLE_SELLER && APP_ENV == 'PROD')
    require_once 'gtag.phtml';
?>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<?= $v['description'] ?>" />
    <meta name="keywords" content="<?= $v['keywords'] ?>" />
    <meta name="robots" content="<?= $v['robots'] ?>" />
    <title><?= $v['title'] ?></title>
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:title" content="<?= $v['title'] ?>" />
    <meta property="og:type" content="<?= $v['og']['type'] ?>" />
    <meta property="og:url" content="<?= $v['og']['url'] ?>" />
    <meta property="og:site_name" content="РАДИОДЕТАЛИ" />
    <meta property="og:image" content="<?= $v['og']['image'] ?>" />
    <meta property="og:description" content="<?= $v['description'] ?>" />
    <link rel="canonical" href="<?= $v['og']['url'] ?>" />
    <link rel="stylesheet" href="<?= $v['css'] ?>" type="text/css" />
    <link rel="icon" href="<?= ROOT.'favicon.ico?v=2'?>" type="image/x-icon"/>
<?php if ($v['role'] === ROLE_ADMIN) { ?>
    <script src="<?= ROOT.'js/nicEdit.js?v=2' ?>"></script>
<?php } 
if ($v['page'] == 'home.phtml' || $v['page'] == 'about.phtml') { ?>
    <script type="application/ld+json">
    {
		"@context": "http://schema.org",
		"@type": "Organization",
		"url": "",
        "logo": "",
        "name": "",
        "telephone": "",
        "address":
        [
            {
                "@type": "PostalAddress",
                "addressLocality": "",
                "streetAddress": ""
            },
            {
                "@type": "PostalAddress",
                "addressLocality": "",
                "streetAddress": ""
            }
        ]
	}
    </script>
<?php } ?>
</head>

<body onclick="closePopups()">
<?php
    require_once 'header.phtml';
    require_once 'flash.phtml';
    require_once 'top_menu.phtml';
    require_once $v['page'];
?>
    <div class="Footer">
        © 2013-2019 Интернет-магазин "Радиодетали"
    </div>
<?php if ($v['role'] === ROLE_NOBODY) { ?>
    <script src="<?= ROOT.'js/md5.js?v=2' ?>"></script>
<?php } ?>
    <script src="<?= $v['js'] ?>"></script>
<?php if ($v['role'] >= ROLE_SELLER) { ?>
    <script src="<?= ROOT.'js/admin_script.js?v=2' ?>"></script>
<?php } ?>
</body>
</html>
