<?php if (!isset($v['pagination']['pages']) || $v['pagination']['pages'] < 2) return;
$page  = $v['pagination']['page'];
$pages = $v['pagination']['pages'];
$link  = $v['pagination']['link'];
$opts  = $v['pagination']['opts'] ?? null;
?>
    <nav class="Pagination">
        <form method="get">
<?php if ($opts) {
    foreach($opts as $key => $opt) { ?>
            <input type="hidden" name="<?= $opt['name'] ?>" value="<?= $opt['value'] ?>">
<?php }
} ?>
            &nbsp;<?= ($page > 1) ? '<a href="'.$link.($page-1).'" class="Icon-Prev">' :
                              '<a class="Icon-Prev Pagination_Disabled">' ?></a>Страница
            <input type="number" name="p" value="<?= $page ?>" id="paginationText" min="1" max="999">
            из<span><?= $pages ?></span>
            <?= ($page < $pages) ? '<a href="'.$link.($page+1).'" class="Icon-Next">' :
                                   '<a class="Icon-Next Pagination_Disabled">' ?></a>&nbsp;
        </form>
    </nav>
