<?='<?xml version="1.0" encoding="UTF-8"?>'?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc><?= SITE_URL ?>'</loc>
    <lastmod><?= date('Y-m-d') ?>'</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
<?php foreach ($v['uri'] as $i) { ?>
  <url>
    <loc><?= SITE_URL.$i ?></loc>
  </url>
<?php } ?>
</urlset>
