<?php
$links = [
    'home.phtml' => [ 
        'icon' => 'Icon-Home',
        'name' => 'Главная страница',
        'path' => ''
    ],
    'base.phtml' => [
        'icon' => 'Icon-Db',
        'name' => 'База компонентов',
        'path' => $v['base_uri']
    ],
    'cart.phtml' => [
        'icon' => 'Icon-Cart',
        'name' => 'Корзина',
        'path' => 'cart'
    ],
    'profile.phtml' => [ 
        'icon' => 'Icon-Profile',
        'name' => 'Профиль',
        'path' => 'profile'
    ],
    'about.phtml' => [
        'icon' => 'Icon-Phone',
        'name' => 'Контакты',
        'path' => 'about'
    ]
];
?>
    <nav>
        <ul class="TopMenu">
<?php foreach ($links as $link => $opts) {
    $class = ($link == $v['page']) ? ' class="TopMenu_Active"' : ''; 
?>
            <li<?= $class ?>>
                <a href="<?= ROOT.$opts['path'] ?>"><i class="<?= $opts['icon'] ?>"></i><?= $opts['name'] ?></a>
            </li>
<?php } ?>
        </ul>
    </nav>
